.text {
    color: #ff9900;
    font-size: 15px;
}

.action {
    width: 200px;
    height: 120px;
    color: #fff;

    .approve {       
        background-color: #69ffa5;
    }

    .reject {
        background-color: #ff6565;
        margin-left: 10px;
    }
    .delete {
        background-color: #5b9ace;
        margin-left: 10px;
    }
}

button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 10%;
    color: #fff;
}

.link {
    color: #2a90de;
    display: flex;
    justify-content: flex-end;
}

