.card {
    width: 550px;
    height: 200px;
    display: inline-block;
    margin-left: 15px;
}

.p {
    display: inline-block;
}

.btn {
    background-color: #2bcc30;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.link {
    color: #2a90de;
}
