.cardTutor {
    display: inline-block;
    margin-left: 35px;
    padding: 25px !important;
}

.p {
    display: inline-block;
}

.btnView {
    background-color: #42ed6d;
    width: 75px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
}

.header-right {
    display: inline-block;
    width: 68%;
    padding-left: 10px;
}
